html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    color: #222222;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    scroll-margin-top: 0px;
}

section.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 970px;
    align-items: center;
    gap: 20px;
}

.hero-photo {
    margin-top: 20px;
    width: 55%;
    aspect-ratio: 1 / 1;
    background-image: url(images/mypic-3.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    transition: transform 0.7s ease, box-shadow 0.7s ease;
}


.hero-photo:hover,
.hero-photo:focus,
.hero-photo:active {
    transform: scale(1.05);
    box-shadow: 0 0 30px #0077FF,
        0 0 60px #0077FF,
        0 0 100px #0077FF;
    outline: none;
}

.hero-photo {
    touch-action: manipulation;
    cursor: pointer;

}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 4rem;
    line-height: 60px;
    font-weight: 700;
}

.hero-text h2 {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}

.hero-text p {
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0px 15px;
}

.hock-text {
    color: #0077FF;
}

.hero-text a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-projects {
    background-color: #0077FF;
    color: white;
    text-wrap: nowrap;
    padding: 15px 60px;
    border-radius: 40px;
}

.btn-CV {
    background-color: white;
    color: #0077FF;
    text-wrap: nowrap;

    padding: 13px 60px;
    border-radius: 40px;
    margin-bottom: 10px;
    border: 1px solid #0077FF;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.btn-CV:hover,
.btn-CV:active,
.bet-CV:focus {
    background-color: #0077FF;
    color: white;
    border: 1px solid #0077FF;
    box-shadow: 0 12px 20px rgba(0, 119, 255, 0.5);
}


section.about {
    background-color: #F8F8F8;
    padding-left: 30px;
    padding-right: 30px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.about h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0077FF;
}

.about p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 50px;
}

.about p strong {
    color: #0077FF;
    display: block;
}

section.education {
    height: 970px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;

}

.education-title {
    width: 90%;
}

.education-cards {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.education h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0077FF;
}

.education-main {
    width: 90%;
    padding: 20px 0px;
    border-radius: 40px;
    border-top: 5px solid #0077FF;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

.education-icon {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 70px;
    border-radius: 20px;
    background-color: #F8F8F8;
    color: #0077FF;
    font-size: 3rem;
    margin-top: 20px;
}

.education-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-top: 15px;
    text-align: start;
    justify-content: center;

}

.education-text h2 {
    font-weight: 700;
}

.education-date {
    margin-top: 30px;
    color: #666666;
}

.education-text p {
    color: #666666;

}

.education-text strong {
    color: #222222;
}


.education-certifications {
    width: 90%;
    border-radius: 40px;
    padding: 20px 0px;
    border-top: 5px solid #0077FF;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

.certifications-icon {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 70px;
    border-radius: 20px;
    background-color: #F8F8F8;
    color: #0077FF;
    font-size: 3rem;
    margin-top: 20px;
}

.certifications-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 460px;
    margin-top: 15px;
    text-align: start;
    justify-content: center;
    gap: 20px;
}

.certifications-text h2 {
    font-weight: 700;
}


.certifications-text p {
    color: #666666;
}


.certif {
    border-left: 2px solid #0077FF;
    padding-left: 15px;
}

.certif strong {
    font-size: 1.3rem;
}

section.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    background-color: #F8F8F8;
    padding: 30px 0px;

}

.skills-title {
    width: 90%;
}

.skills-cards {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.skills h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0077FF;
}

.skill-card-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.skill-card {
    width: 90%;
    border-radius: 40px;
    border-left: 5px solid #0077FF;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 10px;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.8s ease, box-shadow 0.8s ease;
}

.skill-card:hover,
.skill-card:active,
.skill-card:focus {
    box-shadow: 0 12px 20px rgba(0, 119, 255, 0.5);
}

.skill-icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80px;
    border-radius: 20px;
    background-color: #F8F8F8;
    color: #0077FF;
    font-size: 2rem;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.skills-text {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin-top: 15px;
    justify-content: center;
    align-items: start;
    text-align: start;
    font-size: 4rem;
    font-weight: 700;
    color: #0077FF;
    gap: 30px;
}

section.projects {
    height: 2440px;
    background-color: #0077FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.projects-title {
    width: 90%;

}

.projects-title h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}

.projects-cards {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;



}

.project-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    background-color: #F8F8F8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.project-card-image {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

.project-card-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: #0077FF;
    gap: 10px;
    font-size: 0.8rem;
}

.project-card-text h2 {
    font-weight: 700;
}

.project-card-text strong {
    color: #222222;
}

.project-card-text p {
    color: #666666;
}

.project-card-tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 90%;
    align-items: center;

}


.project-card-tech h6 {
    background-color: #0077FF;
    border-radius: 30px;
    color: white;
    font-size: 0.7rem;
    padding: 5px 10px;
    opacity: 0.8;

}

.project-text-h2 {
    height: 70px;
}

.project-text-desc {
    height: 65px;
}

.project-text-problem {
    height: 75px;
}

.project-text-solution {
    height: 100px;
}

.project-card-tech {
    height: 60px;
}

.project-card-buttons {
    height: 70px;
}

.project-card-buttons a {
    text-decoration: none;
    background-color: #F8F8F8;
    border: 2px solid #0077FF;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 40px;
    padding: 5px 60px;
}

.project-card-buttons a:hover,
.project-card-buttons a:active,
.project-card-buttons a:focus {
    background-color: #0077FF;
    color: white;
}



section.experience {
    display: flex;
    height: 935px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    background-color: #F8F8F8;

}

.experience-title {
    width: 90%;
}

.experience-cards {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.experience h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0077FF;
}

.main-card {
    width: 100%;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    padding: 20px 20px;
    border-radius: 20px;
}

.card-upper {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.experience-card-icon {
    width: 20%;
    height: 60px;
    font-size: 2.7rem;
    border-radius: 10px;
    background-color: #0077FF;
    color: white;
}

.experience-card-title {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    line-height: 10px;
}

.experience-card-title h2 {
    font-weight: 700;
    color: #222222;
    font-size: 1.4rem;
}

.experience-card-title p {
    font-weight: 500;
    color: #0077FF;
    font-size: 1rem;
}

.experience-card-title small {
    color: #666666;
}

.lower-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 1rem;
    gap: 15px;
}

.lower-card-info i {
    color: #0077FF;
    font-weight: 600;
}

.lower-card-info p {
    color: #222222;
    font-weight: 600;
}

section.contact {
    height: 150px;
    background-color: #111827;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    font-size: 1.5rem;
    color: white;
}

.contact a {
    color: white;
    text-decoration: none;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.contact a:hover,
.contact a:active,
.contact a:focus {
    color: #0077FF;
}








@media (min-width: 768px) {
    section.hero {
        display: flex;
        flex-direction: row;
        height: 500px;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

    .hero-photo {
        margin-top: 0px;
        width: 37%;
    }

    .hero-text {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
    }

    .hero-text h1 {
        font-size: 3.1rem;
        line-height: 50px;
        font-weight: 700;
        text-wrap: nowrap;
    }

    .hero-text h2 {
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .hero-text p {
        font-size: 1.1rem;
        margin-top: 15px;
        margin-bottom: 30px;
        padding-left: 0px;
    }

    .hock-text {
        color: #0077FF;
    }

    .hero-text a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
    }

    .hero-buttons {
        display: flex;
        flex-direction: row;
        text-wrap: nowrap;
    }

    .btn-projects {
        padding: 7px 25px;
    }

    .btn-CV {
        padding: 7px 25px;
        margin-bottom: 0px;
    }

    section.about {
        height: 440px;
    }

    .about h1 {
        font-size: 3rem;
    }

    .about p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 60px;
    }

    .about strong {
        font-size: 1.8rem;
    }

    section.education {
        height: 680px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;

    }

    .education h1 {
        font-size: 3rem;
    }

    .education-cards {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        align-items: center;

    }

    .education-main {
        width: 45%;
        height: 535px;
        gap: 15px;
        justify-content: center;
        align-items: center;

    }

    .education-icon {
        margin-top: 0px;
        margin-bottom: 160px;
    }

    .education-text {
        margin-top: 0px;

    }


    .education-certifications {
        height: 535px;
        width: 45%;
    }


    section.skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        background-color: #F8F8F8;

    }

    .skills-title {
        width: 90%;
    }

    .skills-cards {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;

    }

    .skills h1 {
        font-size: 3rem;
        font-weight: 700;
        color: #0077FF;
    }

    .skill-card-parent {
        width: 43%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .skill-card {
        height: 550px;
        width: 90%;
        border-radius: 40px;
        padding: 15px 10px;
        align-items: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        transition: transform 0.8s ease, box-shadow 0.8s ease;
    }

    .skills-text {
        width: 80%;
        margin-top: 15px;
        justify-content: center;
        align-items: start;
        text-align: start;
        font-size: 4rem;
        font-weight: 700;
        color: #0077FF;
        gap: 30px;
    }



    .skill-icon-text {
        font-size: 2.2rem;
    }


    section.projects {
        height: 1740px;
        background-color: #0077FF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }



    .projects-title h1 {
        font-size: 3rem;
    }

    .projects-cards {
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        gap: 20px;




    }

    .project-card {
        width: 47%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: start;
        align-items: center;
        border-radius: 20px;
        background-color: #F8F8F8;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

    }

    .project-card-image {
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    }

    .project-card-text {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
        color: #0077FF;
        gap: 10px;
        font-size: 0.8rem;
    }

    .project-text-h2 {
        height: 90px;
    }

    .project-text-desc {
        height: 70px;
    }

    .project-text-problem {
        height: 70px;
    }

    .project-text-solution {
        height: 90px;
    }

    .project-card-tech {
        height: 70px;
    }


    .project-card-tech h6 {
        background-color: #0077FF;
        border-radius: 30px;
        color: white;
        font-size: 0.75rem;
        padding: 5px 10px;
        opacity: 0.7;

    }

    section.experience {
        display: flex;
        height: 970px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        background-color: #F8F8F8;

    }

    .experience-title {
        width: 90%;
    }

    .experience-cards {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;

    }

    .experience h1 {
        font-size: 3rem;
        font-weight: 700;
        color: #0077FF;
    }

    .main-card {
        width: 100%;
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        padding: 20px 20px;
        border-radius: 20px;
    }

    .card-upper {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .experience-card-icon {
        width: 20%;
        height: 60px;
        font-size: 2.7rem;
        border-radius: 10px;
        background-color: #0077FF;
        color: white;
    }

    .experience-card-title {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        line-height: 10px;
    }

    .experience-card-title h2 {
        font-weight: 700;
        color: #222222;
        font-size: 1.5rem;
    }

    .experience-card-title p {
        font-weight: 500;
        color: #0077FF;
        font-size: 1.1rem;
    }

    .experience-card-title small {
        color: #666666;
    }

    .lower-card-info {

        font-size: 1.1rem;
        gap: 20px;
    }

    section.contact {
        height: 100px;
        background-color: #111827;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 70px;
        font-size: 2rem;
    }















}

@media (min-width: 1024px) {
    section.hero {
        height: 520px;
        gap: 160px;
    }

    .hero-photo {
        width: 25%;
    }

    .hero-text h1 {
        font-size: 4rem;
        line-height: 55px;
        font-weight: 800;
        text-wrap: nowrap;
    }

    .hero-text h2 {
        font-size: 1.4rem;

    }

    .hero-text p {
        font-size: 1.2rem;
        margin-top: 15px;
        margin-bottom: 30px;
        padding-left: 0px;
    }

    .hock-text {
        color: #0077FF;
    }

    .hero-text a {
        font-size: 1.3rem;
    }

    .btn-projects {
        padding: 7px 30px;
    }

    .btn-CV {
        padding: 7px 35px;
        margin-bottom: 0px;
    }

    section.about {
        height: 320px;
    }

    .about h1 {
        font-size: 4rem;
    }

    .about p {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 55px;
    }

    .about strong {
        font-size: 1.7rem;
        font-weight: 600;
    }

    section.education {
        height: 730px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 40px;

    }

    .education h1 {
        font-size: 4rem;
    }

    .education-cards {
        display: flex;
        flex-direction: row;
        gap: 80px;
        justify-content: center;
        align-items: center;

    }

    .education-main {
        width: 30%;
        height: 535px;
        gap: 15px;
        padding-top: 40px;
        justify-content: center;
        align-items: start;

    }

    .education-icon {
        margin-top: 0px;
        margin-bottom: 160px;
    }

    .education-text {
        margin-top: 0px;

    }


    .education-certifications {
        height: 535px;
        width: 30%;
    }


    section.skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        background-color: #F8F8F8;

    }

    .skills-title {
        width: 90%;
    }

    .skills-cards {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 50px;

    }

    .skills h1 {
        font-size: 4rem;

    }

    .skill-card-parent {
        width: 35%;

    }

    .skill-icon-text {
        font-size: 2.5rem;
    }

    .skill-card{
        height: 350px;
    }


    section.projects {
        height: 920px;
        background-color: #0077FF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }



    .projects-title h1 {
        font-size: 3rem;
    }

    .projects-cards {
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        gap: 50px;




    }

    .project-card {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: start;
        align-items: center;
        border-radius: 20px;
        background-color: #F8F8F8;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

    }

    .project-card-image {
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    }

    .project-card-text {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
        color: #0077FF;
        gap: 10px;
        font-size: 0.8rem;
    }

    .project-text-h2 {
        height: 90px;
    }

    .project-text-desc {
        height: 60px;
    }

    .project-text-problem {
        height: 70px;
    }

    .project-text-solution {
        height: 80px;
    }

    .project-card-tech {
        height: 80px;
    }





    .project-card-tech h6 {
        background-color: #0077FF;
        border-radius: 30px;
        color: white;
        font-size: 0.75rem;
        padding: 5px 10px;
        opacity: 0.7;

    }

    section.experience {
        display: flex;
        height: 970px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        background-color: #F8F8F8;
    }

    .experience-cards {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;

    }


    .experience-cards {
        gap: 40px;

    }

    .experience h1 {
        font-size: 4rem;

    }

    .main-card {
        width: 100%;
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        padding: 20px 20px;
        border-radius: 20px;
    }

    .card-upper {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
    }

    .experience-card-icon {
        width: 10%;
        height: 60px;
        font-size: 2.7rem;
        border-radius: 10px;
        background-color: #0077FF;
        color: white;
    }

    .experience-card-title {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        line-height: 15px;
    }

    .experience-card-title h2 {
        font-weight: 700;
        color: #222222;
        font-size: 2rem;
    }

    .experience-card-title p {
        font-weight: 500;
        color: #0077FF;
        font-size: 1.4rem;
    }

    .experience-card-title small {
        color: #666666;
        font-size: 1rem;
    }

    .lower-card-info {

        font-size: 1.1rem;
        gap: 20px;
        text-align: start;
    }

    section.contact {
        gap: 100px;
        font-size: 2.3rem;
    }




}